@import '~@alicloud/xconsole-theme/styles/variables.scss';

$checkbox-cls-name: '#{$css-prefix}checkbox';

.#{$checkbox-cls-name} {
  $checkbox-size: 12px !default;
  $checkbox-inner-cls-name: '#{$checkbox-cls-name}-inner';
  $icon-cls-name: '#{$css-prefix}icon';
  $margin-size: $size-base * 2;

  &-label {
    margin-left: $margin-size;
  }

  &-wrapper {
    &#{&}#{&}#{&}#{&} {
      .#{$checkbox-inner-cls-name} {
        > .#{$icon-cls-name} {
          margin: 0;
          transform: scale(0.8);
        }
      }
    }
  }

  &-group-hoz {
    display: inline-block;
    margin-left: -$margin-size;

    .#{$checkbox-cls-name}-wrapper {
      &:first-child {
        margin-left: $margin-size;
      }
    }
  }
}
