@import "variables.scss";


.#{$css-prefix}icon-Directory-tree::before {
    content: $icon-content-Directory-tree;
}

.#{$css-prefix}icon-Xconsole::before {
    content: $icon-content-Xconsole;
}

.#{$css-prefix}icon-Group1::before {
    content: $icon-content-Group1;
}

.#{$css-prefix}icon-Group::before {
    content: $icon-content-Group;
}

.#{$css-prefix}icon-shoppingcart::before {
    content: $icon-content-shoppingcart;
}

.#{$css-prefix}icon-wind-loading::before {
    content: $icon-content-wind-loading;
}

.#{$css-prefix}icon-add-subset::before {
    content: $icon-content-add-subset;
}

.#{$css-prefix}icon-diagnose::before {
    content: $icon-content-diagnose;
}

.#{$css-prefix}icon-monitoring::before {
    content: $icon-content-monitoring;
}

.#{$css-prefix}icon-home::before {
    content: $icon-content-home;
}

.#{$css-prefix}icon-vector::before {
    content: $icon-content-vector;
}

.#{$css-prefix}icon-structured-data::before {
    content: $icon-content-structured-data;
}

.#{$css-prefix}icon-bell::before {
    content: $icon-content-bell;
}

.#{$css-prefix}icon-left-arrow-rect::before {
    content: $icon-content-left-arrow-rect;
}

.#{$css-prefix}icon-right-arrow-rect::before {
    content: $icon-content-right-arrow-rect;
}

.#{$css-prefix}icon-waiting::before {
    content: $icon-content-waiting;
}

.#{$css-prefix}icon-waiting-fill::before {
    content: $icon-content-waiting-fill;
}

.#{$css-prefix}icon-NEW::before {
    content: $icon-content-NEW;
}

.#{$css-prefix}icon-HOT::before {
    content: $icon-content-HOT;
}

.#{$css-prefix}icon-scrollingmode::before {
    content: $icon-content-scrollingmode;
}

.#{$css-prefix}icon-stepmode::before {
    content: $icon-content-stepmode;
}

.#{$css-prefix}icon-plus-square::before {
    content: $icon-content-plus-square;
}

.#{$css-prefix}icon-minus-square::before {
    content: $icon-content-minus-square;
}

.#{$css-prefix}icon-plus-square-fill::before {
    content: $icon-content-plus-square-fill;
}

.#{$css-prefix}icon-minus-square-fill::before {
    content: $icon-content-minus-square-fill;
}

.#{$css-prefix}icon-arrow-sortdown-smal::before {
    content: $icon-content-arrow-sortdown-smal;
}

.#{$css-prefix}icon-share::before {
    content: $icon-content-share;
}

.#{$css-prefix}icon-icon-drag::before {
    content: $icon-content-icon-drag;
}

.#{$css-prefix}icon-menu::before {
    content: $icon-content-menu;
}

.#{$css-prefix}icon-arrow-alt-from-bottom::before {
    content: $icon-content-arrow-alt-from-bottom;
}

.#{$css-prefix}icon-arrow-alt-from-top::before {
    content: $icon-content-arrow-alt-from-top;
}

.#{$css-prefix}icon-compass::before {
    content: $icon-content-compass;
}

.#{$css-prefix}icon-sync-alt::before {
    content: $icon-content-sync-alt;
}

.#{$css-prefix}icon-rank::before {
    content: $icon-content-rank;
}

.#{$css-prefix}icon-resource::before {
    content: $icon-content-resource;
}

.#{$css-prefix}icon-folder-open::before {
    content: $icon-content-folder-open;
}

.#{$css-prefix}icon-shopping-cart::before {
    content: $icon-content-shopping-cart;
}

.#{$css-prefix}icon-terminal::before {
    content: $icon-content-terminal;
}

.#{$css-prefix}icon-terminal-fill::before {
    content: $icon-content-terminal-fill;
}

.#{$css-prefix}icon-cloud-machine::before {
    content: $icon-content-cloud-machine;
}

.#{$css-prefix}icon-cloud-machine-fill::before {
    content: $icon-content-cloud-machine-fill;
}

.#{$css-prefix}icon-user-circle::before {
    content: $icon-content-user-circle;
}

.#{$css-prefix}icon-star-circle1::before {
    content: $icon-content-star-circle1;
}

.#{$css-prefix}icon-integral::before {
    content: $icon-content-integral;
}

.#{$css-prefix}icon-gem::before {
    content: $icon-content-gem;
}

.#{$css-prefix}icon-backspace::before {
    content: $icon-content-backspace;
}

.#{$css-prefix}icon-wind-warning::before {
    content: $icon-content-wind-warning;
}

.#{$css-prefix}icon-release::before {
    content: $icon-content-release;
}

.#{$css-prefix}icon-new-releases::before {
    content: $icon-content-new-releases;
}

.#{$css-prefix}icon-print::before {
    content: $icon-content-print;
}

.#{$css-prefix}icon-save::before {
    content: $icon-content-save;
}

.#{$css-prefix}icon-news::before {
    content: $icon-content-news;
}

.#{$css-prefix}icon-process::before {
    content: $icon-content-process;
}

.#{$css-prefix}icon-training::before {
    content: $icon-content-training;
}

.#{$css-prefix}icon-connection::before {
    content: $icon-content-connection;
}

.#{$css-prefix}icon-paperclip::before {
    content: $icon-content-paperclip;
}

.#{$css-prefix}icon-angle-left::before {
    content: $icon-content-angle-left;
}

.#{$css-prefix}icon-angle-right::before {
    content: $icon-content-angle-right;
}

.#{$css-prefix}icon-angle-up::before {
    content: $icon-content-angle-up;
}

.#{$css-prefix}icon-angle-down::before {
    content: $icon-content-angle-down;
}

.#{$css-prefix}icon-angle-double-left::before {
    content: $icon-content-angle-double-left;
}

.#{$css-prefix}icon-angle-double-right::before {
    content: $icon-content-angle-double-right;
}

.#{$css-prefix}icon-angle-double-up::before {
    content: $icon-content-angle-double-up;
}

.#{$css-prefix}icon-angle-double-down::before {
    content: $icon-content-angle-double-down;
}

.#{$css-prefix}icon-arrows-v::before {
    content: $icon-content-arrows-v;
}

.#{$css-prefix}icon-caret-left::before {
    content: $icon-content-caret-left;
}

.#{$css-prefix}icon-caret-right::before {
    content: $icon-content-caret-right;
}

.#{$css-prefix}icon-sort-up::before {
    content: $icon-content-sort-up;
}

.#{$css-prefix}icon-sort-down::before {
    content: $icon-content-sort-down;
}

.#{$css-prefix}icon-sort::before {
    content: $icon-content-sort;
}

.#{$css-prefix}icon-wind-arrow-left::before {
    content: $icon-content-wind-arrow-left;
}

.#{$css-prefix}icon-wind-arrow-right::before {
    content: $icon-content-wind-arrow-right;
}

.#{$css-prefix}icon-long-arrow-up::before {
    content: $icon-content-long-arrow-up;
}

.#{$css-prefix}icon-long-arrow-down::before {
    content: $icon-content-long-arrow-down;
}

.#{$css-prefix}icon-arrow-to-top::before {
    content: $icon-content-arrow-to-top;
}

.#{$css-prefix}icon-arrow-to-bottom::before {
    content: $icon-content-arrow-to-bottom;
}

.#{$css-prefix}icon-wind-upload::before {
    content: $icon-content-wind-upload;
}

.#{$css-prefix}icon-wind-download::before {
    content: $icon-content-wind-download;
}

.#{$css-prefix}icon-wind-descending::before {
    content: $icon-content-wind-descending;
}

.#{$css-prefix}icon-wind-ascending::before {
    content: $icon-content-wind-ascending;
}

.#{$css-prefix}icon-wind-switch::before {
    content: $icon-content-wind-switch;
}

.#{$css-prefix}icon-wind-sorting::before {
    content: $icon-content-wind-sorting;
}

.#{$css-prefix}icon-outdent::before {
    content: $icon-content-outdent;
}

.#{$css-prefix}icon-indent::before {
    content: $icon-content-indent;
}

.#{$css-prefix}icon-arrows-alt::before {
    content: $icon-content-arrows-alt;
}

.#{$css-prefix}icon-external-link::before {
    content: $icon-content-external-link;
}

.#{$css-prefix}icon-redo::before {
    content: $icon-content-redo;
}

.#{$css-prefix}icon-undo::before {
    content: $icon-content-undo;
}

.#{$css-prefix}icon-reply::before {
    content: $icon-content-reply;
}

.#{$css-prefix}icon-wind-search::before {
    content: $icon-content-wind-search;
}

.#{$css-prefix}icon-search-plus::before {
    content: $icon-content-search-plus;
}

.#{$css-prefix}icon-search-minus::before {
    content: $icon-content-search-minus;
}

.#{$css-prefix}icon-check::before {
    content: $icon-content-check;
}

.#{$css-prefix}icon-times::before {
    content: $icon-content-times;
}

.#{$css-prefix}icon-plus::before {
    content: $icon-content-plus;
}

.#{$css-prefix}icon-wind-minus::before {
    content: $icon-content-wind-minus;
}

.#{$css-prefix}icon-ban::before {
    content: $icon-content-ban;
}

.#{$css-prefix}icon-expand-alt::before {
    content: $icon-content-expand-alt;
}

.#{$css-prefix}icon-compress-alt::before {
    content: $icon-content-compress-alt;
}

.#{$css-prefix}icon-check-circle::before {
    content: $icon-content-check-circle;
}

.#{$css-prefix}icon-times-circle::before {
    content: $icon-content-times-circle;
}

.#{$css-prefix}icon-plus-circle::before {
    content: $icon-content-plus-circle;
}

.#{$css-prefix}icon-minus-circle::before {
    content: $icon-content-minus-circle;
}

.#{$css-prefix}icon-exclamation-circle::before {
    content: $icon-content-exclamation-circle;
}

.#{$css-prefix}icon-question-circle::before {
    content: $icon-content-question-circle;
}

.#{$css-prefix}icon-info-circle::before {
    content: $icon-content-info-circle;
}

.#{$css-prefix}icon-exchange::before {
    content: $icon-content-exchange;
}

.#{$css-prefix}icon-cloudupload::before {
    content: $icon-content-cloudupload;
}

.#{$css-prefix}icon-clouddownload::before {
    content: $icon-content-clouddownload;
}

.#{$css-prefix}icon-calendar-alt::before {
    content: $icon-content-calendar-alt;
}

.#{$css-prefix}icon-wind-clock::before {
    content: $icon-content-wind-clock;
}

.#{$css-prefix}icon-cog::before {
    content: $icon-content-cog;
}

.#{$css-prefix}icon-wind-account::before {
    content: $icon-content-wind-account;
}

.#{$css-prefix}icon-account-plus::before {
    content: $icon-content-account-plus;
}

.#{$css-prefix}icon-user-group::before {
    content: $icon-content-user-group;
}

.#{$css-prefix}icon-collection::before {
    content: $icon-content-collection;
}

.#{$css-prefix}icon-like::before {
    content: $icon-content-like;
}

.#{$css-prefix}icon-mail::before {
    content: $icon-content-mail;
}

.#{$css-prefix}icon-wind-picture::before {
    content: $icon-content-wind-picture;
}

.#{$css-prefix}icon-delete::before {
    content: $icon-content-delete;
}

.#{$css-prefix}icon-playcircle::before {
    content: $icon-content-playcircle;
}

.#{$css-prefix}icon-stopcircle::before {
    content: $icon-content-stopcircle;
}

.#{$css-prefix}icon-pausecircle::before {
    content: $icon-content-pausecircle;
}

.#{$css-prefix}icon-phone::before {
    content: $icon-content-phone;
}

.#{$css-prefix}icon-headset::before {
    content: $icon-content-headset;
}

.#{$css-prefix}icon-file::before {
    content: $icon-content-file;
}

.#{$css-prefix}icon-file-plus::before {
    content: $icon-content-file-plus;
}

.#{$css-prefix}icon-file-SQL1::before {
    content: $icon-content-file-SQL1;
}

.#{$css-prefix}icon-folder::before {
    content: $icon-content-folder;
}

.#{$css-prefix}icon-folder-plus::before {
    content: $icon-content-folder-plus;
}

.#{$css-prefix}icon-pic-side::before {
    content: $icon-content-pic-side;
}

.#{$css-prefix}icon-pic-center::before {
    content: $icon-content-pic-center;
}

.#{$css-prefix}icon-border-verticle::before {
    content: $icon-content-border-verticle;
}

.#{$css-prefix}icon-align-center::before {
    content: $icon-content-align-center;
}

.#{$css-prefix}icon-border-top::before {
    content: $icon-content-border-top;
}

.#{$css-prefix}icon-border-bottom::before {
    content: $icon-content-border-bottom;
}

.#{$css-prefix}icon-align-left::before {
    content: $icon-content-align-left;
}

.#{$css-prefix}icon-align-right::before {
    content: $icon-content-align-right;
}

.#{$css-prefix}icon-wind-smile::before {
    content: $icon-content-wind-smile;
}

.#{$css-prefix}icon-wind-cry::before {
    content: $icon-content-wind-cry;
}

.#{$css-prefix}icon-layer-group::before {
    content: $icon-content-layer-group;
}

.#{$css-prefix}icon-database-set::before {
    content: $icon-content-database-set;
}

.#{$css-prefix}icon-box::before {
    content: $icon-content-box;
}

.#{$css-prefix}icon-inbox-in::before {
    content: $icon-content-inbox-in;
}

.#{$css-prefix}icon-map::before {
    content: $icon-content-map;
}

.#{$css-prefix}icon-location::before {
    content: $icon-content-location;
}

.#{$css-prefix}icon-position::before {
    content: $icon-content-position;
}

.#{$css-prefix}icon-tag::before {
    content: $icon-content-tag;
}

.#{$css-prefix}icon-flag::before {
    content: $icon-content-flag;
}

.#{$css-prefix}icon-lightbulb::before {
    content: $icon-content-lightbulb;
}

.#{$css-prefix}icon-eye-slash::before {
    content: $icon-content-eye-slash;
}

.#{$css-prefix}icon-paper-plane::before {
    content: $icon-content-paper-plane;
}

.#{$css-prefix}icon-comment-dots::before {
    content: $icon-content-comment-dots;
}

.#{$css-prefix}icon-comment-lines::before {
    content: $icon-content-comment-lines;
}

.#{$css-prefix}icon-database::before {
    content: $icon-content-database;
}

.#{$css-prefix}icon-database-plus::before {
    content: $icon-content-database-plus;
}

.#{$css-prefix}icon-all::before {
    content: $icon-content-all;
}

.#{$css-prefix}icon-wind-filter::before {
    content: $icon-content-wind-filter;
}

.#{$css-prefix}icon-expandalt-fill::before {
    content: $icon-content-expandalt-fill;
}

.#{$css-prefix}icon-compressalt-fill::before {
    content: $icon-content-compressalt-fill;
}

.#{$css-prefix}icon-check-circle-fill::before {
    content: $icon-content-check-circle-fill;
}

.#{$css-prefix}icon-times-circle-fill::before {
    content: $icon-content-times-circle-fill;
}

.#{$css-prefix}icon-plus-circle-fill::before {
    content: $icon-content-plus-circle-fill;
}

.#{$css-prefix}icon-minus-circle-fill::before {
    content: $icon-content-minus-circle-fill;
}

.#{$css-prefix}icon-exclamationcircle-f::before {
    content: $icon-content-exclamationcircle-f;
}

.#{$css-prefix}icon-question-circle-fill::before {
    content: $icon-content-question-circle-fill;
}

.#{$css-prefix}icon-info-circle-fill::before {
    content: $icon-content-info-circle-fill;
}

.#{$css-prefix}icon-exchange-fill::before {
    content: $icon-content-exchange-fill;
}

.#{$css-prefix}icon-cloudupload-fill::before {
    content: $icon-content-cloudupload-fill;
}

.#{$css-prefix}icon-clouddownload-fill::before {
    content: $icon-content-clouddownload-fill;
}

.#{$css-prefix}icon-calendaralt-fill::before {
    content: $icon-content-calendaralt-fill;
}

.#{$css-prefix}icon-clock-fill::before {
    content: $icon-content-clock-fill;
}

.#{$css-prefix}icon-cog-fill::before {
    content: $icon-content-cog-fill;
}

.#{$css-prefix}icon-user-fill::before {
    content: $icon-content-user-fill;
}

.#{$css-prefix}icon-userplus-fill::before {
    content: $icon-content-userplus-fill;
}

.#{$css-prefix}icon-user-group-fill::before {
    content: $icon-content-user-group-fill;
}

.#{$css-prefix}icon-collection-fill::before {
    content: $icon-content-collection-fill;
}

.#{$css-prefix}icon-heart-fill::before {
    content: $icon-content-heart-fill;
}

.#{$css-prefix}icon-mail-fill::before {
    content: $icon-content-mail-fill;
}

.#{$css-prefix}icon-picture-fill::before {
    content: $icon-content-picture-fill;
}

.#{$css-prefix}icon-delete-fill::before {
    content: $icon-content-delete-fill;
}

.#{$css-prefix}icon-playcircle-fill::before {
    content: $icon-content-playcircle-fill;
}

.#{$css-prefix}icon-stopcircle-fill::before {
    content: $icon-content-stopcircle-fill;
}

.#{$css-prefix}icon-pausecircle-fill::before {
    content: $icon-content-pausecircle-fill;
}

.#{$css-prefix}icon-phone-fill::before {
    content: $icon-content-phone-fill;
}

.#{$css-prefix}icon-headset-fill::before {
    content: $icon-content-headset-fill;
}

.#{$css-prefix}icon-copy-fill::before {
    content: $icon-content-copy-fill;
}

.#{$css-prefix}icon-file-fill::before {
    content: $icon-content-file-fill;
}

.#{$css-prefix}icon-fileplus-fill::before {
    content: $icon-content-fileplus-fill;
}

.#{$css-prefix}icon-file-SQL::before {
    content: $icon-content-file-SQL;
}

.#{$css-prefix}icon-folder-fill::before {
    content: $icon-content-folder-fill;
}

.#{$css-prefix}icon-folderplus-fill::before {
    content: $icon-content-folderplus-fill;
}

.#{$css-prefix}icon-folderopen-fill::before {
    content: $icon-content-folderopen-fill;
}

.#{$css-prefix}icon-picside-fill::before {
    content: $icon-content-picside-fill;
}

.#{$css-prefix}icon-piccenter-fill::before {
    content: $icon-content-piccenter-fill;
}

.#{$css-prefix}icon-borderverticle-fill::before {
    content: $icon-content-borderverticle-fill;
}

.#{$css-prefix}icon-aligncenter-fill::before {
    content: $icon-content-aligncenter-fill;
}

.#{$css-prefix}icon-bordertop-fill::before {
    content: $icon-content-bordertop-fill;
}

.#{$css-prefix}icon-borderbottom-fill::before {
    content: $icon-content-borderbottom-fill;
}

.#{$css-prefix}icon-alignleft-fill::before {
    content: $icon-content-alignleft-fill;
}

.#{$css-prefix}icon-alignright-fill::before {
    content: $icon-content-alignright-fill;
}

.#{$css-prefix}icon-lock-fill::before {
    content: $icon-content-lock-fill;
}

.#{$css-prefix}icon-unlock-fill::before {
    content: $icon-content-unlock-fill;
}

.#{$css-prefix}icon-smile-fill::before {
    content: $icon-content-smile-fill;
}

.#{$css-prefix}icon-cry-fill::before {
    content: $icon-content-cry-fill;
}

.#{$css-prefix}icon-layergroup-fill::before {
    content: $icon-content-layergroup-fill;
}

.#{$css-prefix}icon-databaseset-fill::before {
    content: $icon-content-databaseset-fill;
}

.#{$css-prefix}icon-box-fill::before {
    content: $icon-content-box-fill;
}

.#{$css-prefix}icon-inboxin-fill::before {
    content: $icon-content-inboxin-fill;
}

.#{$css-prefix}icon-map-fill::before {
    content: $icon-content-map-fill;
}

.#{$css-prefix}icon-location-fill::before {
    content: $icon-content-location-fill;
}

.#{$css-prefix}icon-position-fill::before {
    content: $icon-content-position-fill;
}

.#{$css-prefix}icon-tag-fill::before {
    content: $icon-content-tag-fill;
}

.#{$css-prefix}icon-flag-fill::before {
    content: $icon-content-flag-fill;
}

.#{$css-prefix}icon-lightbulb-fill::before {
    content: $icon-content-lightbulb-fill;
}

.#{$css-prefix}icon-eye-fill::before {
    content: $icon-content-eye-fill;
}

.#{$css-prefix}icon-eyeslash-fill::before {
    content: $icon-content-eyeslash-fill;
}

.#{$css-prefix}icon-paperplane-fill::before {
    content: $icon-content-paperplane-fill;
}

.#{$css-prefix}icon-commentdots-fill::before {
    content: $icon-content-commentdots-fill;
}

.#{$css-prefix}icon-commentlines-fill::before {
    content: $icon-content-commentlines-fill;
}

.#{$css-prefix}icon-database-fill::before {
    content: $icon-content-database-fill;
}

.#{$css-prefix}icon-databaseplus-fill::before {
    content: $icon-content-databaseplus-fill;
}

.#{$css-prefix}icon-all-fill::before {
    content: $icon-content-all-fill;
}

.#{$css-prefix}icon-filter-fill::before {
    content: $icon-content-filter-fill;
}

.#{$css-prefix}icon-transanction::before {
    content: $icon-content-transanction;
}

.#{$css-prefix}icon-dollar::before {
    content: $icon-content-dollar;
}

.#{$css-prefix}icon-wind-edit::before {
    content: $icon-content-wind-edit;
}

.#{$css-prefix}icon-nail-fixed::before {
    content: $icon-content-nail-fixed;
}

.#{$css-prefix}icon-nail::before {
    content: $icon-content-nail;
}

.#{$css-prefix}icon-aliwangwang::before {
    content: $icon-content-aliwangwang;
}

.#{$css-prefix}icon-mobile-alt::before {
    content: $icon-content-mobile-alt;
}

.#{$css-prefix}icon-mobile-check::before {
    content: $icon-content-mobile-check;
}

.#{$css-prefix}icon-mobile-error::before {
    content: $icon-content-mobile-error;
}

.#{$css-prefix}icon-laptop::before {
    content: $icon-content-laptop;
}

.#{$css-prefix}icon-laptop-check::before {
    content: $icon-content-laptop-check;
}

.#{$css-prefix}icon-laptop-error::before {
    content: $icon-content-laptop-error;
}

.#{$css-prefix}icon-display-arrow-left::before {
    content: $icon-content-display-arrow-left;
}

.#{$css-prefix}icon-display-arrow-right::before {
    content: $icon-content-display-arrow-right;
}

.#{$css-prefix}icon-display-code::before {
    content: $icon-content-display-code;
}

.#{$css-prefix}icon-chart-line::before {
    content: $icon-content-chart-line;
}

.#{$css-prefix}icon-chart-area::before {
    content: $icon-content-chart-area;
}

.#{$css-prefix}icon-chart-scatter-plot::before {
    content: $icon-content-chart-scatter-plot;
}

.#{$css-prefix}icon-chart-relation::before {
    content: $icon-content-chart-relation;
}

.#{$css-prefix}icon-chart-pie-alt::before {
    content: $icon-content-chart-pie-alt;
}

.#{$css-prefix}icon-tag-subscipt::before {
    content: $icon-content-tag-subscipt;
}

.#{$css-prefix}icon-supervise::before {
    content: $icon-content-supervise;
}

.#{$css-prefix}icon-safety-certificate::before {
    content: $icon-content-safety-certificate;
}

.#{$css-prefix}icon-key::before {
    content: $icon-content-key;
}

.#{$css-prefix}icon-poweroff::before {
    content: $icon-content-poweroff;
}

.#{$css-prefix}icon-link::before {
    content: $icon-content-link;
}

.#{$css-prefix}icon-gift::before {
    content: $icon-content-gift;
}

.#{$css-prefix}icon-cut::before {
    content: $icon-content-cut;
}

.#{$css-prefix}icon-scan::before {
    content: $icon-content-scan;
}

.#{$css-prefix}icon-qrcode::before {
    content: $icon-content-qrcode;
}

.#{$css-prefix}icon-bug-report::before {
    content: $icon-content-bug-report;
}

.#{$css-prefix}icon-WIFI::before {
    content: $icon-content-WIFI;
}

.#{$css-prefix}icon-gallery-view::before {
    content: $icon-content-gallery-view;
}

.#{$css-prefix}icon-ellipsis-vertical::before {
    content: $icon-content-ellipsis-vertical;
}

.#{$css-prefix}icon-drag::before {
    content: $icon-content-drag;
}

.#{$css-prefix}icon-aliyun-logo::before {
    content: $icon-content-aliyun-logo;
}

.#{$css-prefix}icon-management::before {
    content: $icon-content-management;
}

.#{$css-prefix}icon-accesskeys::before {
    content: $icon-content-accesskeys;
}

.#{$css-prefix}icon-arrow-left1::before {
    content: $icon-content-arrow-left1;
}

.#{$css-prefix}icon-delete-filling1::before {
    content: $icon-content-delete-filling1;
}

.#{$css-prefix}icon-arrow-double-right1::before {
    content: $icon-content-arrow-double-right1;
}

.#{$css-prefix}icon-arrow-double-left1::before {
    content: $icon-content-arrow-double-left1;
}

.#{$css-prefix}icon-loading1::before {
    content: $icon-content-loading1;
}

.#{$css-prefix}icon-semi-select1::before {
    content: $icon-content-semi-select1;
}

.#{$css-prefix}icon-close1::before {
    content: $icon-content-close1;
}

.#{$css-prefix}icon-picture1::before {
    content: $icon-content-picture1;
}

.#{$css-prefix}icon-success-filling1::before {
    content: $icon-content-success-filling1;
}

.#{$css-prefix}icon-upload1::before {
    content: $icon-content-upload1;
}

.#{$css-prefix}icon-descending1::before {
    content: $icon-content-descending1;
}

.#{$css-prefix}icon-ascending1::before {
    content: $icon-content-ascending1;
}

.#{$css-prefix}icon-sorting1::before {
    content: $icon-content-sorting1;
}

.#{$css-prefix}icon-prompt1::before {
    content: $icon-content-prompt1;
}

.#{$css-prefix}icon-search1::before {
    content: $icon-content-search1;
}

.#{$css-prefix}icon-warning1::before {
    content: $icon-content-warning1;
}

.#{$css-prefix}icon-success1::before {
    content: $icon-content-success1;
}

.#{$css-prefix}icon-calendar1::before {
    content: $icon-content-calendar1;
}

.#{$css-prefix}icon-ashbin1::before {
    content: $icon-content-ashbin1;
}

.#{$css-prefix}icon-select1::before {
    content: $icon-content-select1;
}

.#{$css-prefix}icon-error1::before {
    content: $icon-content-error1;
}

.#{$css-prefix}icon-edit1::before {
    content: $icon-content-edit1;
}

.#{$css-prefix}icon-minus1::before {
    content: $icon-content-minus1;
}

.#{$css-prefix}icon-add1::before {
    content: $icon-content-add1;
}

.#{$css-prefix}icon-arrow-up1::before {
    content: $icon-content-arrow-up1;
}

.#{$css-prefix}icon-arrow-down1::before {
    content: $icon-content-arrow-down1;
}

.#{$css-prefix}icon-arrow-right1::before {
    content: $icon-content-arrow-right1;
}

.#{$css-prefix}icon-smile1::before {
    content: $icon-content-smile1;
}

.#{$css-prefix}icon-favorites-filling1::before {
    content: $icon-content-favorites-filling1;
}

.#{$css-prefix}icon-ellipsis1::before {
    content: $icon-content-ellipsis1;
}

.#{$css-prefix}icon-download1::before {
    content: $icon-content-download1;
}

.#{$css-prefix}icon-filter1::before {
    content: $icon-content-filter1;
}

.#{$css-prefix}icon-attachment1::before {
    content: $icon-content-attachment1;
}

.#{$css-prefix}icon-clock1::before {
    content: $icon-content-clock1;
}

.#{$css-prefix}icon-atm1::before {
    content: $icon-content-atm1;
}

.#{$css-prefix}icon-account1::before {
    content: $icon-content-account1;
}

.#{$css-prefix}icon-set1::before {
    content: $icon-content-set1;
}

.#{$css-prefix}icon-refresh1::before {
    content: $icon-content-refresh1;
}

.#{$css-prefix}icon-help1::before {
    content: $icon-content-help1;
}

.#{$css-prefix}icon-email1::before {
    content: $icon-content-email1;
}

.#{$css-prefix}icon-cry1::before {
    content: $icon-content-cry1;
}
