// 为了支持在icon字体库中已经改名、删掉的icon
// 我们在这里将旧icon的content映射到字体库中存在的icon字符

.#{$css-prefix}icon-more::before {
  content: $icon-content-ellipsis-vertical;
}

.#{$css-prefix}icon-cart::before {
  content: $icon-content-shopping-cart;
}

.#{$css-prefix}icon-account-circle::before {
  content: $icon-content-user-circle;
}

.#{$css-prefix}icon-points::before {
  content: $icon-content-star-circle1;
}

.#{$css-prefix}icon-star-circle::before {
  content: $icon-content-star-circle1;
}

.#{$css-prefix}icon-rights::before {
  content: $icon-content-gem;
}

.#{$css-prefix}icon-alert::before {
  content: $icon-content-wind-warning;
}

.#{$css-prefix}icon-caret-up::before {
  content: $icon-content-sort-up;
}

.#{$css-prefix}icon-caret-down::before {
  content: $icon-content-sort-down;
}

.#{$css-prefix}icon-arrow-alt-left::before {
  content: $icon-content-wind-arrow-left;
}

.#{$css-prefix}icon-arrow-alt-right::before {
  content: $icon-content-wind-arrow-right;
}

.#{$css-prefix}icon-export::before {
  content: $icon-content-wind-upload;
}

.#{$css-prefix}icon-import::before {
  content: $icon-content-wind-download;
}

.#{$css-prefix}icon-list-collapsed::before {
  content: $icon-content-outdent;
}

.#{$css-prefix}icon-list-expansion::before {
  content: $icon-content-indent;
}

.#{$css-prefix}icon-remove::before {
  content: $icon-content-times;
}

.#{$css-prefix}icon-expand-arrows-alt::before {
  content: $icon-content-expand-alt;
}

.#{$css-prefix}icon-heart-regular::before {
  content: $icon-content-like;
}

.#{$css-prefix}icon-play::before {
  content: $icon-content-playcircle;
}

.#{$css-prefix}icon-stop::before {
  content: $icon-content-stopcircle;
}

.#{$css-prefix}icon-pause::before {
  content: $icon-content-pausecircle;
}

.#{$css-prefix}icon-folder-add::before {
  content: $icon-content-folder-plus;
}

.#{$css-prefix}icon-installation-package::before {
  content: $icon-content-inbox-in;
}

.#{$css-prefix}icon-light::before {
  content: $icon-content-lightbulb;
}

.#{$css-prefix}icon-fliter-list::before {
  content: $icon-content-wind-filter;
}

.#{$css-prefix}icon-collapse-card1::before {
  content: $icon-content-expandalt-fill;
}

.#{$css-prefix}icon-collapse-card::before {
  content: $icon-content-compressalt-fill;
}

.#{$css-prefix}icon-cloud-upload::before {
  content: $icon-content-cloudupload-fill;
}

.#{$css-prefix}icon-cloud-download::before {
  content: $icon-content-clouddownload-fill;
}

.#{$css-prefix}icon-heart-soild::before {
  content: $icon-content-heart-fill;
}

.#{$css-prefix}icon-service::before {
  content: $icon-content-headset-fill;
}

.#{$css-prefix}icon-file-add::before {
  content: $icon-content-fileplus-fill;
}

.#{$css-prefix}icon-file-sql::before {
  content: $icon-content-file-SQL;
}

.#{$css-prefix}icon-lock-open::before {
  content: $icon-content-unlock-fill;
}

.#{$css-prefix}icon-layers::before {
  content: $icon-content-layergroup-fill;
}

.#{$css-prefix}icon-data-set::before {
  content: $icon-content-databaseset-fill;
}

.#{$css-prefix}icon-label::before {
  content: $icon-content-tag-fill;
}

.#{$css-prefix}icon-invisible::before {
  content: $icon-content-eyeslash-fill;
}

.#{$css-prefix}icon-multiple-tips::before {
  content: $icon-content-commentdots-fill;
}

.#{$css-prefix}icon-comment::before {
  content: $icon-content-commentlines-fill;
}

.#{$css-prefix}icon-data::before {
  content: $icon-content-database-fill;
}

.#{$css-prefix}icon-renewals::before {
  content: $icon-content-transanction;
}

.#{$css-prefix}icon-cell-phone::before {
  content: $icon-content-mobile-alt;
}

.#{$css-prefix}icon-phone-bingding::before {
  content: $icon-content-mobile-check;
}

.#{$css-prefix}icon-phone-untie::before {
  content: $icon-content-mobile-error;
}

.#{$css-prefix}icon-online::before {
  content: $icon-content-laptop-check;
}

.#{$css-prefix}icon-Keys::before {
  content: $icon-content-key;
}

.#{$css-prefix}icon-mains::before {
  content: $icon-content-poweroff;
}

.#{$css-prefix}icon-scanning::before {
  content: $icon-content-scan;
}

.#{$css-prefix}icon-more::before {
  content: $icon-content-ellipsis-vertical;
}

.#{$css-prefix}icon-shoppingcart::before {
  content: $icon-content-shopping-cart;
}

.#{$css-prefix}icon-annex::before {
  content: $icon-content-paperclip;
}

.#{$css-prefix}icon-external-link-alt::before {
  content: $icon-content-external-link;
}

.#{$css-prefix}icon-subtract::before {
  content: $icon-content-wind-minus;
}

.#{$css-prefix}icon-filter-list::before {
  content: $icon-content-wind-filter;
}

.#{$css-prefix}icon-account-add-solid::before {
  content: $icon-content-userplus-fill;
}

.#{$css-prefix}icon-supervisor-account::before {
  content: $icon-content-user-group-fill;
}

.#{$css-prefix}icon-star-solid::before {
  content: $icon-content-collection-fill;
}

.#{$css-prefix}icon-heart-solid::before {
  content: $icon-content-heart-fill;
}

.#{$css-prefix}icon-phone-binding::before {
  content: $icon-content-mobile-check;
}

.#{$css-prefix}icon-scatter-plot::before {
  content: $icon-content-chart-scatter-plot;
}

.#{$css-prefix}icon-chart-pie::before {
  content: $icon-content-chart-pie-alt;
}

$wind-icon-long-arrow-left: $icon-content-wind-arrow-left !default;

.#{$css-prefix}icon-long-arrow-left::before {
  content: $wind-icon-long-arrow-left;
}

$wind-icon-long-arrow-right: $icon-content-wind-arrow-right !default;

.#{$css-prefix}icon-long-arrow-right::before {
  content: $wind-icon-long-arrow-right;
}