// 混合云、云效公共样式覆盖
.next-dialog-footer {
  z-index: 3;
  &-has-shadow {
    box-shadow: var(--shadow-1-up);
    border-top: var(--drawer-footer-border-width, 1px) var(--line-solid, solid) var(--drawer-footer-border-color, var(--color-line1-1));
  }
}