@import '../../styles/variables.scss';

$overlay-wrapper-name: '#{$css-prefix}overlay-wrapper';

$overlay-wrapper-custom: 'custom-overlay-wrapper';

$overlay-inner-name: '#{$css-prefix}overlay-inner';

$overlay-inner-border: 1px solid #EBEBEB;

$overlay-inner-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.13);

.#{$overlay-wrapper-name} {
  &.#{$overlay-wrapper-custom} {
    .#{$overlay-inner-name} {
      border: $overlay-inner-border;
      box-shadow: $overlay-inner-box-shadow;
    }
  }
}
