@import '~@alicloud/xconsole-theme/styles/variables.scss';

.#{$css-prefix}tree-switcher {
  &.#{$css-prefix}line {
    &.#{$css-prefix}disabled {
      background-color: #f5f5f5;
      border-color: #DEDEDE;
      color: #C1C1C1;
    }
  }
}
