$table-cls-name: '#{$css-prefix}table';
$table-cell-wrapper-cls-name: '#{$table-cls-name}-cell-wrapper';
$table-empty: '#{$css-prefix}table-empty';

.#{$table-cls-name} {
  // border: 1px solid red !important;
  .#{$table-cls-name}-expanded-row {
    background-color: #ebebeb;
  }
  th,
  td {
    .#{$table-cell-wrapper-cls-name} {
      word-break: normal;
    }

    &.#{$table-cls-name}-selection {
      .#{$table-cell-wrapper-cls-name} {
        line-height: 14px;
      }
    }
  }

  .#{$table-empty} {
    height: 20px;
    line-height: 20px;
    margin: 16px 0;
    padding: 0;
  }

  &#{$wind-cls} {
    // 表头icon的样式，不影响选择checkbox
    th:not(.#{$css-prefix}table-selection) {
      .#{$css-prefix}icon {
        color: #888;
        &:hover {
          color: #555;
        }
      }
    }
    .#{$table-cls-name}-sort {
      // 增加选择器权重
      &#{&} {
        &:hover {
          .#{$css-prefix}icon {
            color: #555;
          }
        }
        // 激活状态下，icon父元素会获得类名current
        .current {
          .#{$css-prefix}icon {
            color: #0070cc;
          }
        }
      }
    }
  }
}

.#{$table-cls-name}-expanded-ctrl .#{$table-cls-name}-expand-fold:before,
.#{$table-cls-name}-expanded-ctrl .#{$table-cls-name}-expand-fold .#{$css-prefix}-icon-remote,
.#{$table-cls-name}-expanded-ctrl .#{$table-cls-name}-expand-unfold:before,
.#{$table-cls-name}-expanded-ctrl .#{$table-cls-name}-expand-unfold .#{$css-prefix}-icon-remote {
  width: var(--table-expand-icon-size, 16px);
  font-size: var(--table-expand-icon-size, 16px);
}