#{$css-var-scope} {
  --menu-icon-selected-size: initial;
  --checkbox-icon-scale: initial;
  --checkbox-icon-size: initial;
  --input-clear-icon-transform: initial;
  --overlay-offset: initial;
  --card-border-color: initial;
  --switch-disabled-on-bg-color: initial;
  --number-picker-handler-btn-border: initial;
  --number-picker-handler-btn-border-hover: initial;
  --number-picker-final-height-small: initial;
  --number-picker-final-height-medium: initial;
  --number-picker-final-height-large: initial;
  --number-picker-inline-group-border: initial;
  --number-picker-inline-group-padding: initial;
  --number-picker-inline-group-btn-border: initial;
  --number-picker-inline-group-btn-border-hover: initial;
  --number-picker-border-radius: initial;
  --pagination-item-disabled-bg: initial;
  --message-size-l-close-top: initial;
  --message-size-l-close-right: initial;
  --message-border-width: initial;
  --dialog-message-padding: initial;
  --checkbox-checked-border-color: initial;
  --select-hint-color: initial;
  --balloon-hover-bg: initial;
  --card-hover-shadow: initial;
  --card-background: initial;
  --card-hover-background: initial;
  --card-header-background: initial;
  --card-hover-border-color: initial;
  --card-corner: initial;
  --input-hint-color: initial;
  --input-hint-icon-color: initial;
  --input-hint-icon-hover-color: initial;
  --input-bg-color: initial;
  --dropdown-bg-color: initial;
  --tree-select-background: initial;
  --tree-node-normal-background: initial;
}