@import '../../styles/variables.scss';

$tabs-cls-name: '#{$css-prefix}tabs';

.#{$tabs-cls-name}-wrapped.#{$tabs-cls-name}-top {
  & > .#{$tabs-cls-name}-bar {
    .#{$tabs-cls-name}-tab {
      margin-right: 0;
      border-right-width: 0;

      &.active {
        border-right-width: 0;
      }

      &:last-child {
        border-right-width: 1px;
			}
    }
  }
}

// fix: https://aone.alibaba-inc.com/req/25353913
.#{$tabs-cls-name}-bar {
  &#{&}#{&}#{&} {
    .#{$tabs-cls-name}-tab {
      &.disabled {
        background-color: transparent;
        color: #c1c1c1;
      }

      &:hover {
        color: #0070cc;
        background-color: transparent;
      }
    }
  }
}

.#{$tabs-cls-name}-wrapped {
  .#{$tabs-cls-name}-nav-container {
    z-index: 1 !important;
  }

  &.#{$tabs-cls-name}-top > .#{$tabs-cls-name}-content {
    top: -1px;
  }

  &.#{$tabs-cls-name} {
    &.#{$css-prefix}medium {
      .#{$tabs-cls-name}-tab-inner {
        line-height: 18px;
      }
    }

    &.#{$css-prefix}small {
      .#{$tabs-cls-name}-tab-inner {
        line-height: 16px;
      }
    }
  }
}

.#{$tabs-cls-name}-capsule {
  > .#{$tabs-cls-name}-bar {
    .#{$tabs-cls-name}-tab {
			transition: none;
			box-sizing: content-box;
      &:hover {
        z-index: 0;
        border-right: none;
        margin-right: 0;
      }
      &.active {
        border: 1px solid $tab-capsule-tab-border-line-color-active;
        margin-right: -1px;
        z-index: 1;
        &:last-child {
          margin-right: 0;
          border-right: 1px solid $tab-capsule-tab-border-line-color-active;
        }
      }
      &:last-child {
        border-right: 1px solid $tab-capsule-tab-border-line-color;
      }
    }
  }
}
