@import '../../styles/variables.scss';

$tabs-cls-name: '#{$css-prefix}tabs';

.#{$tabs-cls-name}-wrapped.#{$tabs-cls-name}-top {
  & > .#{$tabs-cls-name}-bar {
    .#{$tabs-cls-name}-tab {
      margin-right: 0;
      border-right-width: 0;

      &.active {
        border-right-width: 0;
      }

      &:last-child {
        border-right-width: 1px;
      }
    }
  }
}

.#{$tabs-cls-name}-wrapped {
  .#{$tabs-cls-name}-nav-container {
    z-index: 1 !important;
  }

  &.#{$tabs-cls-name}-top > .#{$tabs-cls-name}-content {
    top: -1px;
  }

  &.#{$tabs-cls-name} {
    &.#{$css-prefix}medium {
      .#{$tabs-cls-name}-tab-inner {
        line-height: 18px;
      }
    }

    &.#{$css-prefix}small {
      .#{$tabs-cls-name}-tab-inner {
        line-height: 16px;
      }
    }
  }
}

.#{$tabs-cls-name}-capsule {
  > .#{$tabs-cls-name}-bar {
    .#{$tabs-cls-name}-tab {
      transition: none;

      &.active {
        border-right: 1px solid;
      }
    }
  }
}
