.next-step-circle.next-step-horizontal.next-step-label-horizontal
  > .next-step-item-finish
  .next-step-item-body {
  top: 1px;
}
.next-step-circle.next-step-horizontal.next-step-label-horizontal
  > .next-step-item-process
  .next-step-item-body {
  top: 1px;
}
.next-step-circle.next-step-horizontal.next-step-label-horizontal
  > .next-step-item-wait
  .next-step-item-body {
  top: 1px;
}
