$number-picker: '.' + $css-prefix + 'number-picker';
$input-prefix: '.' + $css-prefix + 'input';
$input-group: '.' + $css-prefix + 'input-group';

#{$number-picker}#{$wind-cls} {
  &#{$number-picker}-inline {
    &.#{$css-prefix}medium {
      min-width: calc(var(--size-base) * 30);
    }

    .#{$css-prefix}input {
      position: relative;
      left: -1px;
      z-index: 1;
    }

    .#{$css-prefix}input-group-addon {
      &.#{$css-prefix}before {
        position: relative;

        &:hover {
          z-index: 2;
        }

        .#{$css-prefix}btn {
          margin: 0;
        }
      }

      &.#{$css-prefix}after {
        position: relative;
        left: -2px;

        &:hover {
          z-index: 2;
        }

        .#{$css-prefix}btn {
          margin: 0;
        }
      }
    }
  }
}

// type=normal
#{$number-picker} {
  > #{$input-prefix} {
    border: var(--number-picker-normal-border, 1px solid #dedede);
    &:hover {
      border: var(--number-picker-normal-border-hover, 1px solid #737373);
    }
  }
}
