{
  "presets": ["env"],
  "plugins": [
    "transform-runtime",
    [
      "transform-react-jsx",
      {
        "pragma": "React.createElement",
        "pragmaFrag": "React.Fragment"
      }
    ],
    "@babel/plugin-proposal-class-properties"
  ],
  "parserOpts": {
    "plugins": ["dynamicImport"]
  }
}
