@import '../../styles/variables.scss';

// 被选中项目的 `√` 图标位置居右
.#{$css-prefix}menu.#{$css-prefix}select-menu {
  .#{$css-prefix}menu-icon-selected.#{$css-prefix}icon {
    position: absolute;
    top: 0;
    right: $size-base * 2;
    margin-left: 0;
  }
}
