@import '~@alicloud/xconsole-theme/styles/variables.scss';

.#{$css-prefix}search {
  .#{$css-prefix}input.#{$css-prefix}medium {
    height: 30px;
  }

  .#{$css-prefix}input-group-addon.#{$css-prefix}after {
    .#{$css-prefix}btn {
      .#{$css-prefix}btn-icon.#{$css-prefix}icon-first {
        margin-right: 0;
      }
    }
  }

  .#{$css-prefix}search-left-addon {
    .#{$css-prefix}select-values {
      line-height: 20px;
    }
  }
}
