.wind-demo-content {
  padding: 16px 24px;
  height: 100vh;
  overflow: scroll;

  h1 {
    font-weight: 600;
    margin-bottom: 32px;
  }

  h2 {
    margin: 32px 0 16px;
  }

  p {
    font-size: 0.9rem;
  }

  code {
    display: inline-block;
    padding: 4px 8px;
    background-color: rgb(220, 244, 250);
    color: rgb(65, 115, 134);
    border-radius: 4px;
  }
}
