.wind-demo-menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 260px;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #333;
  color: #fff;

  h1 {
    padding: 16px 16px 0;
    font-weight: 300;
  }

  .wind-demo-menu-search {
    padding: 16px 16px 24px;
  }

  .wind-demo-menu-content {
    overflow: scroll;

    .next-nav {
      .next-menu-group-label {
        padding: 0 16px;
        font-size: 0.9rem;
        color: #999;
      }

      .next-nav-item {
        padding: 0 32px;
      }

      .next-menu-item-inner {
        font-size: 0.85rem;
        font-weight: 300;

        a {
          display: block;
        }
      }
    }
  }

}
