#{$css-var-scope} {
  --range-scale-item-position-top: initial;
  --range-size-m-scale-height: initial;
  --range-size-m-scale-item-border-width: initial;
  --timeline-item-done-background: initial;
  --timeline-item-done-border: initial;
  --switch-size-s-width: initial;
  --balloon-size-arrow-expose: initial;
  --pagination-item-hover-bg: initial;
  --active-shadow: initial;
  --active-transition: initial;
  --btn-font-weight: initial;
  --btn-pure-primary-bg-disabled: initial;
  --btn-pure-primary-color-disabled: initial;
  --btn-pure-primary-border-style: initial;
  --btn-primary-hover-shadow: initial;
  --btn-primary-active-shadow: initial;
  --btn-normal-hover-shadow: initial;
  --btn-normal-active-shadow: initial;
  --btn-text-secondary-bg-hover: initial;
  --btn-text-secondary-bg-active: initial;
  --btn-small-min-width: initial;
  --btn-small-cn-width: initial;
  --btn-medium-min-width: initial;
  --btn-medium-cn-width: initial;
  --btn-large-cn-width: initial;
  --tab-pure-text-color-hover: initial;
  --tab-pure-text-color-normal: initial;
  --tab-pure-hover-bg: initial;
  --search-normal-normal-btn-bg-color: initial;
  --search-btn-hover-bg: initial;
  --menu-icon-selected-color: initial;
  --select-selected-font-weight: initial;
  --tag-hover-color: initial;
  --tag-focus-color: initial;
  --tag-focus-bg: initial;
  --tag-hover-bg: initial;
  --number-picker-height-small: initial;
  --number-picker-height-medium: initial;
  --number-picker-height-large: initial;
  --cascader-menu-width: initial;
  --dialog-title-padding-bottom: initial;
  --dialog-footer-align-default: initial;
  --message-line-height: initial;
  --balloon-arrow-border-radius: initial;
  --dialog-close-top-normal: initial;
  --checkbox-checked-border-color: initial;
  --select-hint-color: initial;
  --balloon-hover-bg: initial;
  --card-hover-shadow: initial;
  --card-background: initial;
  --card-hover-background: initial;
  --card-header-background: initial;
  --card-hover-border-color: initial;
  --card-corner: initial;
  --input-hint-color: initial;
  --input-hint-icon-color: initial;
  --input-hint-icon-hover-color: initial;
  --input-bg-color: initial;
  --dropdown-bg-color: initial;
  --tree-select-background: initial;
  --tree-node-normal-background: initial;
}