@import '~@alicloud/xconsole-theme/styles/variables.scss';

$dialog-cls-name: '#{$css-prefix}dialog';

.#{$dialog-cls-name} {
  $dialog-header-cls-name: '#{$dialog-cls-name}-header';
  $closeable-cls-name: '#{$css-prefix}closeable';

  &-header {
    // 调整标题区域的行高
		line-height: $size-base * 6;
		color: #111;
	}
	&-body {
		padding-top: $size-base * 0;
	}

  &.#{$closeable-cls-name} {
    .#{$dialog-header-cls-name} {
      padding-right: $size-base * 12;
    }
  }

  &-close {
    // 由于标题区域的整体高度变化, close 按钮的位置也要作出相应的调整
    right: $size-base * 6;
    top: $size-base * 5;
  }

  &-footer {
    // 调整 footer 区域, 对齐 UED 设计
    padding: $size-base * 4 $size-base * 6;

    .#{$css-prefix}btn {
      // 调整 footer 中的行动按钮间距
      margin-left: $size-base * 2;

      &:first-child {
        margin-left: $size-base * 0;
      }
    }
  }

  &-message {
    &.#{$css-prefix}message {
      margin-top: 24px;
    }
  }
}
