@import '~@alicloud/xconsole-theme/styles/variables.scss';

.#{$css-prefix}switch-small {
  width: 28px;
  height: 16px;

  &:after {
    width: 14px;
    height: 14px;
  }

  // switch内部的内容
  & > .#{$css-prefix}switch-children {
    height: 16px;
    line-height: 16px;
  }
}
