@import '../../styles/variables.scss';
@import './colored-tag.scss';

$tag-cls-name: '#{$css-prefix}tag';
$close-icon-name: '#{$css-prefix}icon';

@mixin tag-box($height) {
  height: $height;
  line-height: $height;
  vertical-align: middle;
}

@mixin tag-entity($height, $fontSize, $adjustTop) {
  @include tag-box($height);
  border-radius: $height / 2;
  cursor: pointer;

  .#{$tag-cls-name}-body {
    @include tag-box($height);
    font-size: $fontSize;
    top: $adjustTop;
  }
}

.#{$tag-cls-name} {
  &.#{$tag-cls-name}-small {
    @include tag-entity(
      $height: $size-base * 5,
      $fontSize: $size-base * 3,
      $adjustTop: -1px
    );
  }

  &.#{$tag-cls-name}-medium {
    @include tag-entity(
      $height: $size-base * 6,
      $fontSize: $size-base * 3,
      $adjustTop: -1px
    );
  }

  &.#{$tag-cls-name}-large {
    @include tag-entity(
      $height: $size-base * 7,
      $fontSize: $size-base * 3 + 2,
      $adjustTop: -1px
    );
  }

  &.#{$tag-cls-name}-closable > .#{$tag-cls-name}-close-btn {
    color: $color-text1-2;
    height: auto;
    position: relative;
		top: -1px;
		
		.#{$close-icon-name} {
			&:before {
				transform: scale(0.84);
			}
		}
	}
}
