#{$css-var-scope} {
  --xconsole-icon-font-family: initial;
  --menu-icon-selected-size: initial;
  --checkbox-icon-scale: initial;
  --checkbox-icon-size: initial;
  --input-clear-icon-transform: initial;
  --overlay-offset: initial;
  --switch-disabled-on-bg-color: initial;
  --number-picker-handler-btn-border: initial;
  --number-picker-handler-btn-border-hover: initial;
  --number-picker-final-height-small: initial;
  --number-picker-final-height-medium: initial;
  --number-picker-final-height-large: initial;
  --number-picker-inline-group-border: initial;
  --number-picker-inline-group-padding: initial;
  --number-picker-inline-group-btn-border: initial;
  --number-picker-inline-group-btn-border-hover: initial;
  --number-picker-border-radius: initial;
  --pagination-item-disabled-bg: initial;
  --message-size-m-close-top: initial;
  --message-size-m-close-right: initial;
  --message-size-l-close-top: initial;
  --message-size-l-close-right: initial;
  --message-size-m-title-content-padding-left: initial;
  --message-border-width: initial;
  --table-expand-icon-size: initial;
  --dialog-message-padding: initial;
  --tab-pure-text-color-hover: initial;
  --tab-pure-text-color-normal: initial;
  --tab-pure-hover-bg: initial;
  --search-normal-normal-btn-bg-color: initial;
  --search-btn-hover-bg: initial;
  --menu-icon-selected-color: initial;
  --tag-focus-color: initial;
  --tag-focus-bg: initial;
  --dialog-title-padding-bottom: initial;
  --message-line-height: initial;
}